@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 400;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 500;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 700;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 800;
}
/*!sc*/

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e8fb;
}


.Map {
    padding: 20px 0px 20px 0px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

body {
    font-family: Golos, sans-serif;
    font-size: 16px;
    color: rgba(40, 39, 37, 0.94);
    line-height: 20px;
}

a:hover {
    color: rgb(255, 90, 0);
}

.footer {
    width: 100%;
    max-height: 250px;
    color: rgb(127, 133, 166);
    font: 14px Golos;   
    text-align: center;
    background: #e6e8fb;
}

.footertext {
    padding: 20px;
}

.loader {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-top: 3px solid blue;
    border-right: 3px solid blue;
    margin: 20px auto;
    animation: 800ms infinite linear rotate;
}

.findPanel {
    line-height:50px;
    margin: 0px 0px 0px 5%;
    text-align:center;
    width:90%;
    min-width:300px;
    align-content: space-between;
}

button {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    max-width: 100%;
    border: none;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Golos, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 18px;
    padding: 10px 20px 10px 20px;
    margin: 0px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.94);
    background: rgb(25, 55, 255);
}

button:active {
    color: rgba(255, 255, 255, 0.94);
    background: rgb(26, 50, 209);
}

.slider {
    padding: 5px 15px 5px 15px;
}

.slider input {
    -webkit-appearance:none !important;
    max-width: 500px;
    width:25%;
    min-width: 200px;
    height: 3px;
    border-radius: 5px;
    background: rgb(26, 50, 209);
    outline: none;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 45px;
    height: 45px;
    background: white;
    border: 8px solid rgb(26, 50, 209);
    border-radius: 100%;
    cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:active {
    border-color: rgb(76, 100, 259)
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

p,h4,li,ul {
    margin: 0;
    padding: 0;
}
.modal {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-content {
    font-family: 'Manrope', sans-serif;
    position: relative;
    background: white;
}

.modal .header {
    font-size: x-large;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open {
    color: rgb(26, 50, 209);
}

.close {
    color: red;
}

.schedule {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.schedule li {
    text-align: center;
    /* border-top: 1px solid blue;
    border-bottom: 1px solid blue; */
    background: rgb(241, 241, 241);
    padding: 10px 0;
}

.schedule h4 {
    margin-bottom: 10px;
}

.schedule .last {
    grid-column: span 2;
}

.modal-content .close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none
}

.modal-content .close::before,
.modal-content .close::after {
    content: '';
    width: 100%;
    height: 7%;
    background-color: black;
    position: absolute;
    left: 0;
}

.modal-content .close::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.modal-content .close::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}

.modal .modal-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal ul {
    padding: 10px 0;
}

@media screen and (min-width:900px) {
    .modal .header, .modal .modal-footer  {
        flex-direction: row;
    }

    .modal .header {
        justify-content: space-around;
    }

    .modal .modal-footer {
        justify-content: center;
        gap: 10px;
    }
    
    .schedule {
        display: flex;
    }
    .schedule li {
        flex: 1;
    }
}

