@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 400;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 500;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 700;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 800;
}
/*!sc*/

.aaaHeader {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e8fb;
    flex-grow: 0;
    flex-shrink: 0;
}


.Map {
    padding: 20px 0px 20px 0px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    
}

.main {
    flex-grow: 1;
}

.wrap {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    font-family: Golos, sans-serif;
    font-size: 16px;
    color: rgba(40, 39, 37, 0.94);
    line-height: 20px;
    box-sizing: border-box;
    
}

a:hover {
    color: rgb(255, 90, 0);
}

.footer {
    width: 100%;
    color: rgb(127, 133, 166);
    font: 14px Golos;   
    text-align: center;
    background: #e6e8fb;
    flex-grow: 0;
    flex-shrink: 0;
}

.footertext {
    padding: 20px;
}

.loader {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-top: 3px solid blue;
    border-right: 3px solid blue;
    margin: 20px auto;
    animation: 800ms infinite linear rotate;
}

button {
    box-sizing: border-box;
    max-width: 100%;
    border: none;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: Golos, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 18px;
    padding: 10px 20px 10px 20px;
    margin: 0px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.94);
    background: rgb(25, 55, 255);
    
}

button:active {
    color: rgba(255, 255, 255, 0.94);
    background: rgb(26, 50, 209);
    
}


.findPanel {
    line-height: 10px;
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 6px;
}

.slider input {
    -webkit-appearance:none !important;
    width: 100%;
    
}

.slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: rgb(25, 55, 255);
    border-radius: 6px;
}

.slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: rgb(25, 55, 255);
    border-radius: 6px;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    margin: -10px 0px;
    width: 35px;
    height: 35px;
    background: white;
    border: 7px solid rgb(16, 20, 199);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.slider input[type="range"]::-webkit-slider-thumb:active {
    border-color: rgb(76, 100, 259)
}

.slider input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none !important;
    margin: -10px 0px;
    width: 22px;
    height: 22px;
    background: white;
    border: 7px solid rgb(16, 20, 199);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.slider input[type="range"]::-moz-range-thumb:active {
    border-color: rgb(76, 100, 259)
}

.sliderValues {
    width: 250px;
    font-size: 12pt;
    margin-bottom: -6px;
    display: flex;
    padding-left: 13px;
}

.sliderValues option {
    padding-right: 13.8px;
}

.sliderValues option:nth-last-of-type(1) {
    padding-right: 0px;
}

.sliderText {
    white-space:nowrap;
    padding: 0px 8px;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg)
    }
}

p,h4,li,ul {
    margin: 0;
    padding: 0;
}
.modal {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-content {
    font-family: 'Manrope', sans-serif;
    position: relative;
    background: rgb(247, 247, 247);
}

.modal .header {
    font-size: x-large;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 35px;
}

.open {
    color: rgb(26, 50, 209);
}

.closed {
    color: red;
}

.schedule {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.schedule li {
    text-align: center;
    background: rgb(241, 241, 241);
    padding: 10px 0;
}

.schedule h4 {
    margin-bottom: 10px;
}

.schedule .last {
    grid-column: span 2;
}

.modal-content .close {
    position: absolute;
    right: -4px;
    top: 0;
    background: transparent;
    border: none;
}

.modal-content .close::before,
.modal-content .close::after {
    content: '';
    width: 70%;
    height: 7%;
    background-color: black;
    position: absolute;
    left: 0;
}

.modal-content .close::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.modal-content .close::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}

.modal .modal-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .header,
.modal .modal-footer {
    padding: 10px 0;
}
@media screen and (min-width:900px) {
    .modal .header, .modal .modal-footer  {
        flex-direction: row;
    }

    .modal .header {
        justify-content: space-around;
    }

    .modal .modal-footer {
        justify-content: center;
        gap: 10px;
    }
    
    .schedule {
        display: flex;
    }
    .schedule li {
        flex: 1;
    }
}


    .tableList {
        list-style: none;
        margin: 0 auto;
        width: 80%;
        max-width: 540px;
        max-height:400px;
        overflow-y: auto;
        margin-bottom: 20px;
    }

    .tableList li {
        position: relative;
        border-top: 0.5px solid #e6e8fb59;
        border-bottom: 0.5px solid #e6e8fb59;
        transition: .3s linear;
        align-items: stretch;
        min-height: 40px;
        padding: 5px;
        overflow: auto;
    }

    .tableList li:last-child {
        margin-bottom: 0;
    }

    .tableList li:hover {
        border-top: 0.5px solid rgba(26, 50, 209, .4);
        border-bottom: 0.5px solid rgba(26, 50, 209, .4);
        background: #e6e8fb;
    }


    .tableList::-webkit-scrollbar {
        width: none; 
        height: 4px; 
        background-color: #e6e8fb;
        
    }

    .tableList::-webkit-scrollbar-thumb {
        background-color: rgb(26, 50, 209);
        border-radius: 9em;
    }

    .tableList::-webkit-scrollbar-thumb:hover {
        background-color: #253861;
    }

    .tableList::-moz-scrollbar {
        width: none; 
        height: 4px; 
        background-color: #e6e8fb;
        
    }

    .tableList::-moz-scrollbar-thumb {
        background-color: rgb(26, 50, 209);
        border-radius: 9em;
    }

    .tableList::-moz-scrollbar-thumb:hover {
        background-color: #253861;
    }

@media screen and (max-width:500px) {
    .findPanel {
        flex-direction: column;
        line-height: 35px;
    }
}