@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Regular.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 400;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Medium.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 500;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Bold.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 700;
}
/*!sc*/
@font-face {
    font-family: "Golos";
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot");
    src: url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.eot?#iefix") format("embedded-opentype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.woff2") format("woff2"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.ttf") format("truetype"), url("https://static.pochta.ru/fonts/Golos/v1.0.0/Golos-Text-Black.svg#Golos") format("svg");
    font-style: normal;
    font-weight: 800;
}
/*!sc*/

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e8fb;
}


.Map {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

body {
    font-family: Golos, sans-serif;
    font-size: 16px;
    color: rgba(40, 39, 37, 0.94);
}

a:hover {
    color: rgb(255, 90, 0);
}

.footer {
    width: 100%;
    max-height: 250px;
    color: rgb(127, 133, 166);
    font: 14px Golos;   
    text-align: center;
    background: #e6e8fb;
}
.footertext {
    padding: 20px;
}

